.divider-wrapper {
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    border: none;
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    padding: 24px 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    vertical-align: baseline;
}

.divider-wrapper::before,
.divider-wrapper::after {
    content: "";
    border-bottom: 1px solid #2f4f4f;
    flex: 1 0 auto;
    height: 0.5em;
    margin: 0 8px;
}

.divider {
    text-align: center;
    flex: 0.2 0 auto;
    height: 12px;
}

@media (prefers-color-scheme: dark) {
    .divider-wrapper::before,
    .divider-wrapper::after {
        border-bottom: 1px solid #e4e4e4
    }
}