@config "../../../tailwind.config.ts";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dropdown-height: 0;
  --header-background-color: #d6d7d8dd;
}

@layer utilities {
  .blur-scroll {
    animation: blurScroll 0.5s ease both;
    animation-range-start: cover 2%;
    animation-range-end: cover 20%;
    animation-timeline: scroll();
  }
}

@layer utilities {
  .appear-from-void {
    animation: appearFromVoid 0.5s ease both;
  }
}

@keyframes appearFromVoid {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* DESKTOP HEADER */

@layer utilities {
  .header-desktop-navbar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    height: 0;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-desktop-navbar.closed::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    --tw-translate-y: -100%;
    animation: slideUp 0.25s ease both;
  }

  .header-desktop-navbar.opening::before,
  .header-desktop-navbar.updating::before,
  .header-desktop-navbar.opened::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: var(--dropdown-height);
    width: 100%;
  }

  .header-desktop-navbar.opening::before,
  .header-desktop-navbar.updating::before,
  .header-desktop-navbar.opened::before {
    animation: slideDown 0.25s ease-in both;
  }

  .header-desktop-navbar.closed::before {
    height: 0;
    background-color: rgb(255 254 251 / var(--tw-bg-opacity));
  }
}

/* DESKTOP DROPDOWN */

.header-desktop-dropdown {
  position: absolute;
  top: 0;
  left: 0;
  isolation: isolate;
  z-index: 0;
  width: 100%;
}

.header-desktop-dropdown__container {
  padding: 2.5rem 7.5rem 4.5rem;
}

.header-desktop-dropdown__inner-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1248px;
}

@layer utilities {
  @media (prefers-color-scheme: light) {
    .header-desktop-navbar.opened:before {
      background-color: #e8e8e4;
    }
  }
  @media (prefers-color-scheme: dark) {
    .header-desktop-navbar.opened:before {
      background-color: #344156;
    }
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    /* height: 0; */
  }
  to {
    transform: translateY(0);
    /* height: 100%; */
  }
}

@keyframes slideUp {
  from {
    transform: translateY(0%);
    /* height: 0; */
  }
  to {
    transform: translateY(-100%);
    /* height: 100%; */
  }
}

@keyframes blurScroll {
  to {
    backdrop-filter: blur(5px);
    background-color: var(--header-background-color);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --header-background-color: #344156c1;
  }
}

/* DESKTOP DROPDOWN ITEMS */

@keyframes appearFromLeft {
  from {
    transform: translateX(-5%);
    opacity: 0;
  }
  to {
    transform: translate(0);
    opacity: 1;
  }
}

.appear-from-left {
  animation: appearFromLeft 0.25s 0.25s ease-in both;
}

.appear-from-left.animation-order {
  animation-delay: calc(var(--animation-order) * 50ms);
}

/* MOBILE HEADER */

.header-mobile-accordion-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  z-index: 49;
  background-color: #f8f9fb;
  padding-top: var(--header-height);
}

@media (prefers-color-scheme: dark) {
  .header-mobile-accordion-sidebar {
    background-color: #344156;
  }
}

/* BURGER MENU */

.burger-menu {
  @apply block w-6 h-0.5 rounded-sm bg-slate-800 dark:bg-slate-300 transition-all duration-300 ease-out;
}

.burger-menu.middle {
  @apply my-0.5;
}

.burger-menu.up.opened {
  @apply translate-y-1 rotate-45;
}

.burger-menu.middle.opened {
  @apply opacity-0;
}

.burger-menu.down.opened {
  @apply -translate-y-1 -rotate-45;
}

.burger-menu.up.closed {
  @apply -translate-y-0.5;
}

.burger-menu.middle.closed {
  @apply opacity-100;
}

.burger-menu.down.closed {
  @apply translate-y-0.5;
}

/* IF ANIMATIONS ARE REDUCED */

@media (prefers-reduced-motion) {
  .appear-from-left {
    animation: none;
    transition-property: none;
  }

  .appear-from-left.animation-order {
    animation-delay: 0s;
  }

  .appear-from-left.animation-order {
    animation: none;
    transition-property: none;
  }
}

@layer utilities {
  @media (prefers-reduced-motion) {
    .header-desktop-navbar.closed:before {
      animation: none;
      transition-property: none;
    }

    .header-desktop-navbar.opening::before,
    .header-desktop-navbar.updating::before,
    .header-desktop-navbar.opened::before {
      animation: none;
      transition-property: none;
    }
  }
}
