@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
}

.container-bg {
  /*@apply bg-gradient-to-b from-cyan-300 via-sky-500 to-blue-500;*/
  @apply bg-gradient-to-b from-slate-50 via-slate-100 to-sky-300 dark:from-slate-700 dark:via-gray-600 dark:to-zinc-400 dark:text-gray-100;
}

.auth-bg {
  /*@apply bg-gradient-to-b from-slate-300 via-slate-400 to-slate-500;*/
  @apply bg-gradient-to-b from-slate-50 via-slate-100 to-slate-300 dark:from-slate-900 dark:via-gray-800 dark:to-zinc-600 dark:text-gray-100;
}

.dashboard-bg {
  /*@apply bg-gradient-to-b from-green-300/80 via-emerald-300/80 to-emerald-500/80;*/
  @apply bg-gradient-to-b from-slate-50 via-slate-100 to-green-300 dark:from-slate-800 dark:via-gray-800 dark:to-emerald-900 dark:text-gray-100;
}

.error-bg {
  /*@apply bg-gradient-to-b from-rose-500 to-red-700;*/
  @apply bg-gradient-to-b from-slate-50 via-slate-100 to-red-300;
}

.welcome-text {
  @apply text-xl lg:text-3xl text-white font-bold text-center;
}

.main-links {
  @apply text-center text-lg font-bold;
}

.field-error {
  @apply pl-2 font-bold text-red-500;
}

.auth-question {
  @apply hover:text-slate-600;
}

.hover-avatar {
  @apply hover:scale-110 transition-all hover:duration-300 hover:ease-in-out;
}

@layer utilities {
  .grid-row-3-auto-1fr-auto {
    grid-template-rows: auto 1fr auto;
  }
}
