{% extends "core.html" %}{% block style %}
<style>
  a {
    cursor: pointer;
    text-decoration: none;
    color: #4d4c4c;
    &:hover {
      text-decoration: underline;
      color: #104710;
    }
  }

  .content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
</style>
{% endblock %} {% block content %}
<section class="content">
  <h1>{{ reset_password_title }}</h1>
  <span>
    {{ reset_password_text_1 }}
    <a href="{{ reset_password_link }}">{{ reset_password_link_text }}</a>
  </span>
  {{ reset_password_text_2 }}
</section>
{% endblock %}
